CREATE DATABASE BolsaFamilia;

CREATE USER 'overcyber'@'127.0.0.1' IDENTIFIED BY 'a1b2c3d4*';


GRANT ALL PRIVILEGES ON * . * TO 'overcyber'@'127.0.0.1';

GRANT ALL PRIVILEGES ON bf.* TO 'overcyber'@'127.0.0.1' IDENTIFIED BY 'a1b2c3d4*';

FLUSH PRIVILEGES;

In [1]:
# import sqlite3
# import mysql.connector
import os
import glob
import csv
# import pandas as pd
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [2]:

# # Função para tratar os valores monetários e converter para o formato DECIMAL
# def tratar_valor_monetario(valor):
#     return float(valor.replace('.', '').replace(',', '.'))


def converter_valor_monetario(valor_str):
    return float(valor_str.replace('.', '').replace(',', '.')) if valor_str else 0.0

In [3]:
import datetime

def converter_data_formato_mysql(data_str):
    try:
        data_formatada = datetime.datetime.strptime(data_str, '%d/%m/%Y').date()
        return data_formatada.strftime('%Y-%m-%d')  # Formato AAAA-MM-DD
    except ValueError:
        return None  # Retorna None se a data não puder ser convertida

In [4]:
# # def processar_e_inserir_arquivos(pasta_raiz, cursor):
# #     subpastas = glob.glob(os.path.join(pasta_raiz, '2020??_BolsaFamilia_*'))
    
# #     for subpasta in subpastas:
# #         tipo = 'Saques' if 'Saques' in subpasta else 'Pagamentos'
        
# #         arquivos_csv = glob.glob(os.path.join(subpasta, '*.csv'))
        
# #         for arquivo_csv in arquivos_csv:
# #             with open(arquivo_csv, 'r', encoding='ISO-8859-1') as csvfile:
# #                 csvreader = csv.reader(csvfile, delimiter=';')
# #                 next(csvreader, None)  # Pula o cabeçalho
                
# #                 for row in csvreader:
# #                     if tipo == 'Saques':
# #                         # Extrai e ajusta os campos para Saques
# #                         # Certifique-se de que o número e a ordem dos campos correspondam aos da tabela Saques
# #                         cursor.execute('''
# #                             INSERT INTO Saques (
# #                                 AnoMesCompetencia, AnoMesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
# #                                 CPFBeneficiario, NISBeneficiario, NomeBeneficiario, DataSaque, ValorParcela
# #                             ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
# #                         ''', row)  # Substitua por variáveis específicas se necessário
# #                     else:
# #                         # Extrai e ajusta os campos para Pagamentos
# #                         # Certifique-se de que o número e a ordem dos campos correspondam aos da tabela Pagamentos
# #                         cursor.execute('''
# #                             INSERT INTO Pagamentos (
# #                                 AnoMesCompetencia, AnoMesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
# #                                 CPFBeneficiario, NISBeneficiario, NomeBeneficiario, ValorParcela
# #                             ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
# #                         ''', row)



# def processar_e_inserir_arquivos(pasta_raiz, cursor):
#     subpastas = glob.glob(os.path.join(pasta_raiz, '2020??_BolsaFamilia_*'))
    
#     for subpasta in subpastas:
#         tipo = 'Saques' if 'Saques' in subpasta else 'Pagamentos'
        
#         arquivos_csv = glob.glob(os.path.join(subpasta, '*.csv'))
        
#         for arquivo_csv in arquivos_csv:
#             with open(arquivo_csv, 'r', encoding='ISO-8859-1') as csvfile:
#                 csvreader = csv.reader(csvfile, delimiter=';')
#                 next(csvreader, None)  # Pula o cabeçalho
                
#                 for row in csvreader:
#                     if tipo == 'Saques':
#                         (AnoMesCompetencia, AnoMesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
#                          CPFBeneficiario, NISBeneficiario, NomeBeneficiario, DataSaque, ValorParcela) = row

#                         ValorParcela = converter_valor_monetario(ValorParcela)
#                         cursor.execute('''
#                             INSERT INTO Saques (
#                                 AnoMesCompetencia, AnoMesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
#                                 CPFBeneficiario, NISBeneficiario, NomeBeneficiario, DataSaque, ValorParcela
#                             ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
#                         ''', (AnoMesCompetencia, AnoMesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
#                               CPFBeneficiario, NISBeneficiario, NomeBeneficiario, DataSaque, ValorParcela))
#                     else:
#                         (AnoMesCompetencia, AnoMesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
#                          CPFBeneficiario, NISBeneficiario, NomeBeneficiario, ValorParcela) = row

#                         ValorParcela = converter_valor_monetario(ValorParcela)
#                         cursor.execute('''
#                             INSERT INTO Pagamentos (
#                                 AnoMesCompetencia, AnoMesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
#                                 CPFBeneficiario, NISBeneficiario, NomeBeneficiario, ValorParcela
#                             ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
#                         ''', (AnoMesCompetencia, AnoMesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
#                               CPFBeneficiario, NISBeneficiario, NomeBeneficiario, ValorParcela))

def processar_e_inserir_arquivos(pasta_raiz, cursor):
    subpastas = glob.glob(os.path.join(pasta_raiz, '2020??_BolsaFamilia_*'))
    
    for subpasta in subpastas:
        tipo = 'Saques' if 'Saques' in subpasta else 'Pagamentos'
        
        arquivos_csv = glob.glob(os.path.join(subpasta, '*.csv'))
        
        for arquivo_csv in arquivos_csv:
            with open(arquivo_csv, 'r', encoding='ISO-8859-1') as csvfile:
                csvreader = csv.reader(csvfile, delimiter=';')
                next(csvreader, None)  # Pula o cabeçalho
                
                for row in csvreader:
                    AnoMesCompetencia, AnoMesReferencia = row[0], row[1]
                    AnoCompetencia, MesCompetencia = int(AnoMesCompetencia[:4]), int(AnoMesCompetencia[4:])
                    AnoReferencia, MesReferencia = int(AnoMesReferencia[:4]), int(AnoMesReferencia[4:])

                    if tipo == 'Saques':
                        (UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI, CPFBeneficiario, NISBeneficiario, NomeBeneficiario, DataSaque, ValorParcela) = row[2:10]
                        DataSaque = converter_data_formato_mysql(DataSaque)

                        ValorParcela = converter_valor_monetario(ValorParcela)
                        cursor.execute('''
                            INSERT INTO Saques (
                                AnoCompetencia, MesCompetencia, AnoReferencia, MesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
                                CPFBeneficiario, NISBeneficiario, NomeBeneficiario, DataSaque, ValorParcela
                            ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                        ''', (AnoCompetencia, MesCompetencia, AnoReferencia, MesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
                              CPFBeneficiario, NISBeneficiario, NomeBeneficiario, DataSaque, ValorParcela))
                    else:
                        (UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI, CPFBeneficiario, NISBeneficiario, NomeBeneficiario, ValorParcela) = row[2:9]

                        ValorParcela = converter_valor_monetario(ValorParcela)
                        cursor.execute('''
                            INSERT INTO Pagamentos (
                                AnoCompetencia, MesCompetencia, AnoReferencia, MesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
                                CPFBeneficiario, NISBeneficiario, NomeBeneficiario, ValorParcela
                            ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
                        ''', (AnoCompetencia, MesCompetencia, AnoReferencia, MesReferencia, UF, CodigoMunicipioSIAFI, NomeMunicipioSIAFI,
                              CPFBeneficiario, NISBeneficiario, NomeBeneficiario, ValorParcela))

In [6]:
# Conectar ao banco de dados MySQL remoto
# Função para conectar ao banco de dados
def conectar_banco():
    try:
        conexao = mysql.connector.connect(
            host='127.0.0.1',
            database='bf',
            user='overcyber',
            password='a1b2c3d4*'
        )
        if conexao.is_connected():
            print("conectado")
            return conexao
    except Error as e:
        print("Erro ao conectar ao banco de dados MySQL", e)

# Conectar ao banco de dados MySQL remoto
conn = mysql.connector.connect(
    host='127.0.0.1',
    user="overcyber",
    passwd="a1b2c3d4*",
    database="bf"
)
cursor = conn.cursor()

        CREATE TABLE Saques (
            SaqueID INT AUTO_INCREMENT PRIMARY KEY,
            BeneficiarioID INT,
            MunicipioID INT,
            DataSaque DATE,
            ValorParcela DECIMAL(10, 2),
            FOREIGN KEY (BeneficiarioID) REFERENCES Beneficiarios(BeneficiarioID),
            FOREIGN KEY (MunicipioID) REFERENCES Municipios(MunicipioID)
        )
        """,
        """
        CREATE TABLE Pagamentos (
            PagamentoID INT AUTO_INCREMENT PRIMARY KEY,
            BeneficiarioID INT,
            MunicipioID INT,
            ValorParcela DECIMAL(10, 2),
            FOREIGN KEY (BeneficiarioID) REFERENCES Beneficiarios(BeneficiarioID),
            FOREIGN KEY (MunicipioID) REFERENCES Municipios(MunicipioID)
        )


        ADD COLUMN AnoReferencia YEAR,
ADD COLUMN MesReferencia TINYINT,
ADD COLUMN AnoCompetencia YEAR,
ADD COLUMN MesCompetencia TINYINT;

In [7]:
# Função para criar tabelas (ajustada para MySQL)
def criar_tabelas(cursor):
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Saques (
            SaqueID INT AUTO_INCREMENT PRIMARY KEY,
            AnoCompetencia YEAR,
            MesCompetencia TINYINT,
            AnoReferencia YEAR,
            MesReferencia TINYINT,
            UF VARCHAR(255),
            CodigoMunicipioSIAFI INT,
            NomeMunicipioSIAFI VARCHAR(255),
            CPFBeneficiario VARCHAR(255),
            NISBeneficiario VARCHAR(255),
            NomeBeneficiario VARCHAR(255),
            DataSaque DATE,
            ValorParcela DECIMAL(10, 2)
        )
    ''')
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Pagamentos (
            PagamentoID INT AUTO_INCREMENT PRIMARY KEY,
            AnoCompetencia YEAR,
            MesCompetencia TINYINT,
            AnoReferencia YEAR,
            MesReferencia TINYINT,
            UF VARCHAR(255),
            CodigoMunicipioSIAFI INT,
            NomeMunicipioSIAFI VARCHAR(255),
            CPFBeneficiario VARCHAR(255),
            NISBeneficiario VARCHAR(255),
            NomeBeneficiario VARCHAR(255),
            ValorParcela DECIMAL(10, 2)
        )
    ''')
    cursor.execute('''
            CREATE TABLE Municipios (
            MunicipioID INT AUTO_INCREMENT PRIMARY KEY,
            CodigoMunicipioSIAFI INT UNIQUE,
            NomeMunicipioSIAFI VARCHAR(255),
            UF VARCHAR(2)
        )
    ''')       
    cursor.execute('''   
        CREATE TABLE Beneficiarios (
            BeneficiarioID INT AUTO_INCREMENT PRIMARY KEY,
            CPFBeneficiario VARCHAR(14) UNIQUE,
            NISBeneficiario VARCHAR(14) UNIQUE,
            NomeBeneficiario VARCHAR(255)
        )
    ''')

In [8]:
# Criar tabelas
criar_tabelas(cursor)

In [9]:

# Caminho da pasta raiz onde as subpastas estarão localizadas
pasta_raiz = '/Users/over/Mestrado/1A--PPCA-2023/FBD/FBD-BolsaFamilia' 

# Criar tabelas
# criar_tabelas(cursor)

# Chamar a função para processar e inserir os arquivos
processar_e_inserir_arquivos(pasta_raiz, cursor)

# Salvar as alterações e fechar a conexão com o banco de dados
conn.commit()
conn.close()